<div class='bar'>
    <span class='items'><img {{action 'home'}} src="/assets/icon.png"></span><span class='items'>{{title}}</span> <span class='gear' {{action 'settings'}}><i class="fa fa-gear "></i></span>
</div>